# modules
node_modules/
pnpm-debug.*

# build
dist/
web-build/

# env
.env
.env.development
.env.local


# expo
expo-env.d.ts

# native
ios/
android/
.expo/
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*

# tests
coverage/

# macOS
.DS_Store

# IDE
.idea/
.turbo/
.vscode/